@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<link rel="stylesheet" href="~/css/Profile.css" />
<link rel="stylesheet" href="~/css/Fanfiction.css" />

    <div class="left">
        <div id="side-bar">
            <form><button asp-action="Fanfiction" key="Fanfiction" class="m-3 lang side-bar-button"></button></form>
            <form><button asp-action="AddFanfic" key="Add-fanfiction" class="m-3 lang side-bar-button"></button></form>
            <form><button asp-action="ViewFandoms" key="Fandoms" class="m-3 lang side-bar-button"></button></form>
            <form><button asp-action="ViewGenres" key="Genres" class="m-3 lang side-bar-button"></button></form>
        </div>
    </div>

    <div class="right">
       
            @RenderBody()
       
    </div>

